<link rel="stylesheet" href="/ssheets/home.css" />
<div class="cover-container text-center w-100 mx-auto">
  <nav class="navbar mb-auto navbar-expand-xl mt-1">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#"
        ><h2>be<span class="blue">U</span><span class="yellow">A</span>ty</h2></a
      >
      <button
        class="navbar-toggler navbar-dark bg-dark"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">be<span class="blue">U</span><span class="yellow">A</span>ty</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active homeBtn" aria-current="page" href="/">Головна</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navBtn" href="/campgrounds">Усі місця</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle navBtn" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Аккаунт
              </a>
              <ul class="dropdown-menu slideIn" aria-labelledby="offcanvasNavbarDropdown">
                <% if(!currentUser){ %>
                <li><a class="dropdown-item" href="/user/login">Login</a></li>
                <li><a class="dropdown-item" href="/user/register">Register</a></li>
                <% }else{ %>
                <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                <% } %>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle navBtn" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Контакти
              </a>
              <ul class="dropdown-menu slideIn" aria-labelledby="offcanvasNavbarDropdown">
                <li>
                  <a class="dropdown-item" href="#"
                    ><img src="https://res.cloudinary.com/fallagar/image/upload/v1649700534/YelpCampF/viber_zjbu7j.svg" alt="" width="24" height="24" />
                    Viber</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><img src="https://res.cloudinary.com/fallagar/image/upload/v1649700534/YelpCampF/telegram_t8hi4u.svg" alt="" width="24" height="24" />
                    Telegram</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><img
                      src="https://res.cloudinary.com/fallagar/image/upload/v1649700534/YelpCampF/facebook-logo-2019_ilsijz.svg"
                      alt=""
                      width="24"
                      height="24"
                    />
                    Facebook</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><img src="https://res.cloudinary.com/fallagar/image/upload/v1649700534/YelpCampF/instagram_pmdxle.svg" alt="" width="24" height="24" />
                    Instagram</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><img src="https://res.cloudinary.com/fallagar/image/upload/v1649700534/YelpCampF/email_f4a4wh.svg" alt="" width="24" height="24" />
                    Написати листа</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2 searchInput" type="search" placeholder="Пошук місць" aria-label="Search" />
            <button class="btn text-white search" type="submit">Поїхали!</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
</div>
