<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="ssheets/home.css" />
<div class="cover-container ms-auto mx-auto">
  <main class="px-3 pb-3 main rounded-3">
    <p class="rounded">
      <span class="welcome"> Вітаємо!</span> <br /><br /><span class="intro">
        Бажаєте <span class="makeBold">подорожувати</span> Україною та <span class="makeBold">вирішуєте</span> куди саме? <br /><br />Ми підібрали ці захоплюючі
        пам'ятки саме для Вас!</span
      >
    </p>
    <br />
    <div class="smallScreen">
      <a href="/campgrounds" class="btn btn-lg text-white font-weight-bold start">Розпочати</a>
    </div>
  </main>
</div>
